<div class="" id="page-wrapper">
    <div class="container-fluid">
        <div class="row row-stat">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-divider">Products Dashboard<span
                            class="panel-subtitle">Product statistics of the inventory.</span>
                    </div>
                    <div class="row row-stat">
                        <div class="col-lg-4">
                            <div class="panel panel-light noborder">
                                <div class="panel-heading noborder">
                                    <div class="panel-icon"><i class="fa fa-dollar"></i></div>
                                    <div class="media-body">
                                        <h5 class="md-title nomargin">Total Capital</h5>
                                        <h1 class="mt5">${{totalCapital}}</h1>
                                    </div><!-- media-body -->
                                    <hr>
                                    <div class="clearfix mt20">
                                        <div class="pull-left">
                                            <h5 class="md-title nomargin">Today</h5>
                                            <h4 class="nomargin">${{totalCapitalToday}}</h4>
                                        </div>
                                        <div class="pull-right">
                                            <h5 class="md-title nomargin">This Week</h5>
                                            <h4 class="nomargin">${{totalCapitalPast}}</h4>
                                        </div>
                                    </div>

                                </div><!-- panel-body -->
                            </div><!-- panel -->
                        </div><!-- col-md-4 -->

                        <div class="col-lg-4 col-md-6">
                            <div class="panel panel-dark noborder">
                                <div class="panel-heading noborder">
                                    <div class="panel-icon"><i class="fa fa-users"></i></div>
                                    <div class="media-body">
                                        <h5 class="md-title nomargin">Total Products</h5>
                                        <h1 class="mt5">{{totalProducts}}</h1>
                                    </div><!-- media-body -->
                                    <hr>
                                    <div class="clearfix mt20">
                                        <div class="pull-left">
                                            <h5 class="md-title nomargin">Today</h5>
                                            <h4 class="nomargin">{{totalProductsToday}}</h4>
                                        </div>
                                        <div class="pull-right">
                                            <h5 class="md-title nomargin">This Week</h5>
                                            <h4 class="nomargin">{{totalProductsPast}}</h4>
                                        </div>
                                    </div>

                                </div><!-- panel-body -->
                            </div><!-- panel -->
                        </div><!-- col-md-4 -->

                        <div class="col-lg-4 col-md-6">
                            <div class="panel panel-darkest noborder">
                                <div class="panel-heading noborder">
                                    <div class="panel-icon"><i class="fa fa-pencil"></i></div>
                                    <div class="media-body">
                                        <h5 class="md-title nomargin">Inventory Count</h5>
                                        <h1 class="mt5">{{totalInventoryCount}}</h1>
                                    </div><!-- media-body -->
                                    <hr>
                                    <div class="clearfix mt20">
                                        <div class="pull-left">
                                            <h5 class="md-title nomargin">Today</h5>
                                            <h4 class="nomargin">{{totalInventoryCountToday}}</h4>
                                        </div>
                                        <div class="pull-right">
                                            <h5 class="md-title nomargin">This Week</h5>
                                            <h4 class="nomargin">{{totalInventoryCountPast}}</h4>
                                        </div>
                                    </div>

                                </div><!-- panel-body -->
                            </div><!-- panel -->
                        </div><!-- col-md-4 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>